.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header{
  margin-top: 10vh;
}
.header h1{
  font-size: 7vh;
}
.header input{
  scale: 2;
}
.header input:focus{
  border: #61dafb solid 2px;
  border-radius: 3px;
  outline: none;
}
